@page "/HomeCreateConfirmed"
 
<center>
    <h3>El hogar Confirmado</h3>
    <img src="images/CasaSolar.png" width="300" />
    <p>Su hogar ha sido confirmado. ya fue calculado el consumo total de su hogar, muchas gracias</p>
    <a href="/" class="btn btn-primary">Volver al inicio</a>
</center>
