@inject IRepository repository

<AuthorizeView>
    <Authorized>
        Hola, <a type="button" href="EditUser" class="btn btn-outline-success">@context.User.Identity!.Name</a>
        @if (!string.IsNullOrEmpty(photoUser))
        {
            <div class="mx-2">
                <img src="@photoUser" width="50" height="50" style="border-radius:50%" />
            </div>
        }
        <a type="button" class="btn btn-outline-warning" href="Logout"><i class="oi oi-link-broken" /> Cerrar Sesión</a>
    </Authorized>
    <NotAuthorized>
        <a type="button" class="btn btn-outline-success" href="Register"><i class="oi oi-link-intact" /> Registro</a>
        <a type="button" class="btn btn-outline-primary" href="Login"><i class="oi oi-key" /> Iniciar Sesión</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string? photoUser;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; } = null!;


    private async Task LoadUserAsync()
    {
        var authenticationState = await authenticationStateTask;
        var claims = authenticationState.User.Claims.ToList();
        var photoClaim = claims.FirstOrDefault(x => x.Type == "Photo");
        if (photoClaim is not null)
        {
            photoUser = photoClaim.Value;
        }
    }

    protected async override Task OnParametersSetAsync()
    {
        await LoadUserAsync();
    }
}
