@inherits LayoutComponentBase

<div class="page">
    <div style="background-color:#154366">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="background-color: #EEF1F7">
            <AuthLinks/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
